@using Nop.Web.Models.Self
@model AppointmentUpdateModel
<form method="post" action="">
    <div class="fieldset">
        <h3>@T("Product.AppointmentUpdate.Title")</h3>
        <div class="form-fields">
            <div class="inputs">
                <label asp-for="TimeSlot" asp-postfix=":"></label>
                <input asp-for="TimeSlot" disabled="disabled" />
            </div>
            <div class="inputs">
                <label asp-for="Status" asp-postfix=":"></label>
                <input asp-for="Status" disabled="disabled" />
            </div>
            <div class="inputs">
                <label asp-for="CustomerEmail" asp-postfix=":"></label>
                <input asp-for="CustomerEmail" />
                <nop-required />
                <span asp-validation-for="CustomerEmail"></span>
            </div>
            <div class="inputs">
                <label asp-for="CustomerFirstName" asp-postfix=":"></label>
                <input asp-for="CustomerFirstName" />
                <span asp-validation-for="CustomerFirstName"></span>
            </div>
            <div class="inputs">
                <label asp-for="CustomerLastName" asp-postfix=":"></label>
                <input asp-for="CustomerLastName" />
                <span asp-validation-for="CustomerLastName"></span>
            </div>
            <div class="inputs">
                <label asp-for="CustomerPhoneNumber" asp-postfix=":"></label>
                <input asp-for="CustomerPhoneNumber" />
                <span asp-validation-for="CustomerPhoneNumber"></span>
            </div>
            <div class="inputs">
                <label asp-for="CustomerNotes" asp-postfix=":"></label>
                <input asp-for="CustomerNotes" />
                <span asp-validation-for="CustomerNotes"></span>
            </div>
        </div>
    </div>
    <div class="buttons">
        @if (Model.CanCancel)
        {
            <button type="submit" name="btnCancelAppointment" id="btnCancelAppointment" class="btn bg-red" style="margin-right: 3px;">
                @T("Product.AppointmentUpdate.Cancel")
            </button>
        }
        @if (Model.CanRequest)
        {
            <button type="submit" name="btnRequestAppointment" id="btnRequestAppointment" class="btn btn-primary" style="margin-right: 3px;">
                @T("Product.AppointmentUpdate.Request")
            </button>
        }
    </div>
</form>